
@use '../assets/variables' as *;
// background : $green;

.toppProducts{
  display : grid;
  width: 100vw;
  height : 500px;
  padding: 80px;
  background-color : pink;
  grid-template-columns : auto auto auto auto;
  overflow-y: hidden;
  
  &__infos{
    grid-column-start : 1;
    grid-column-end : 2;
    background : blue;
    border : 3px solid white;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items: flex-start;
    
    h1{
    margin-bottom : 12px;
  }
  }
  &__scrollbar{
    grid-column-start : 2;
    grid-column-end : 5;
    background: black;
    border : 2px solid white;
    
  }
}