@use "../assets/variables" as *;

.features {
  padding: 40px 80px;
  display: flex;
  gap: 24px;
  background : white;
  &__item {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-bottom: 16px;
    }
    h1 {
      @include medium2;
      font-size: 23px;
      letter-spacing: -0.018em;
      margin-bottom: 8px;
    }
    p {
      @include regular1;
      font-size: 16px;
      letter-spacing: -0.011em;
      color: $footerfontcolor;
    }
  }
}

@media (max-width: $md) {
  .features {
    padding: 30px 20px;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    &__item {
      padding: 6px 24px;
      max-width : 400px;
      img {
        margin-bottom: 16px;
      }
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $xxxl) {
  .features {
    max-width :1920px;
    margin-left : auto;
    margin-right : auto;
    padding: 19px 96px;
    display: flex;
    gap: 33px;
    border-bottom: 1.3px solid $linecolor;
    height: 380px;
    &__item {
      padding: 19px 38px;
      img {
        margin-bottom: 20px;
        width: 80px;
      }
      h1 {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: -0.018em;
        margin-bottom: 8px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: -0.011em;
        color: $footerfontcolor;
      }
    }
  }
}
