@use "../assets/variables" as *;

.features {
  padding: 40px 80px;
  display: flex;
  gap: 24px;
  &__item {
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      margin-bottom: 16px;
    }
    h1 {
      @include medium2;
      font-size: 23px;
      letter-spacing: -0.018em;
      margin-bottom: 8px;
    }
    p {
      @include regular1;
      font-size: 16px;
      letter-spacing: -0.011em;
      color: $footerfontcolor;
    }
  }
}

@media (max-width: $md) {
  .features {
    padding: 30px 20px;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    &__item {
      padding: 6px 24px;
      max-width : 400px;
      img {
        margin-bottom: 16px;
      }
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $xxxl) {
  .features {
    padding: 1vw 5vw;
    display: flex;
    gap: 1.7vw;
    border-bottom: 0.07vw solid $linecolor;
    height: 22vw;
    &__item {
      padding: 1vw 2vw;
      img {
        margin-bottom: 1.1vw;
        width: 4.4vw;
      }
      h1 {
        font-weight: 500;
        font-size: 1.6vw;
        line-height: 1.5;
        letter-spacing: -0.018em;
        margin-bottom: 8px;
      }
      p {
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 1.5;
        letter-spacing: -0.011em;
        color: $footerfontcolor;
      }
    }
  }
}
