* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
.bigCont {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  // overflow:hidden;
  overflow-y: auto;
  .navBar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  Header {
    margin-top: -64px;
  }
  .hiddenNav {
    display: none;
  }
}

@media (max-width: 1100px) {
  .bigCont {
    width: 100vw;
    height: 100vh;
    position: relative;
    .navBar {
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100vw;
    }
    .hiddenNav {
      display: flex;
      z-index: 2000;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: 1900px) {
  .bigCont {
    width: 100vw;
    height: 100vh;
    position: relative;
    .navBar {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    Header {
      margin-top: -8vh;
    }
  }
}
