@use "./assets/variables" as *;
@use "./assets/reset" as *;

.page-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  .nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .mobile-nav {
    display: none;
  }
}

@media (max-width: $lg) {
  .page-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    .nav-bar {
      position: sticky;
      top: 0;
      z-index: 1000;
      width: 100vw;
    }
    .mobile-nav {
      display: flex;
      z-index: 2000;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: $xxxl) {
  .page-wrapper {
    background: rgba(118, 132, 68, 0.501);
    width: 100%;
    height: 100vh;
    position: relative;
    .nav-bar {
      position: sticky;
      top: 0;
      z-index: 1000;
    }
  }
}
