@use "../assets/variables" as *;

.end {
  display: flex;
  padding: 22px 80px;
  justify-content: space-between;
  @include medium2;
  font-weight: 400;
  &__links {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    .dot {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: $md) {
  .end {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    justify-content: center;
    align-items: center;
    @include medium2;
    font-weight: 400;
    gap: 10px;
    &__links {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;

    } 
    &__separator {
        display: flex;
        justify-content: center;
      }
  }
}
@media (min-width: $xxxl) {
  .end {
    display: flex;
    padding: 1.5vw 5.5vw;
    font-size: 1vw;
    &__links {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;

    }  
    &__separator {
        display: flex;
        justify-content: center;
      }
  }
}
