@use "../assets/variables" as *;

.footer {
  a {
    color: black;
  }
  display: flex;
  gap: 32px;
  padding: 48px 80px;
  border-top: 1px solid $linecolor;
  border-bottom: 1px solid $linecolor;
  background : white;
  &__logo {
    width: 193px;
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    hr {
      display: none;
    }
  }
  &__column {
    h1 {
      @include medium1;
      font-size: 20px;
      letter-spacing: -0.017em;
      margin-bottom: 16px;
    }

    li {
      @include medium2;
      font-weight: 400;
      margin-bottom: 8px;
      img {
        margin-right: 8px;
      }
    }
    &:last-child {
      width: 362px;
    }
  }
  &__subscribe-description {
    color: $footerfontcolor;
    @include medium2;
    font-weight: 400;
    padding-bottom: 12px;
  }
  &__subscribe-form {
    margin-bottom: 8px;
    display: flex;
    input {
      height: 48px;
      padding-left: 12px;
      min-width: 284px;
      border-left: 1px solid $inputborder;
      border-top: 1px solid $inputborder;
      border-bottom: 1px solid $inputborder;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: none;
      &::placeholder {
        @include medium2;
      }
    }

    button {
      width: 78px;
      height: 48px;
      border: none;
      background-color: $green;
      color: white;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      @include medium2;
    }
  }
  &__privacy-note {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    a {
      color: #3c85da;
    }
  }
}

@media (max-width: $lg) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 48px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
    align-items: center;
    &__logo {
      width: 193px;
    }
    &__columns {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }
    &__column {
      h1 {
        text-align: center;
        @include medium2;
        font-size: 20px;
        letter-spacing: -0.017em;
        margin-bottom: 8px;
      }
      li {
        text-align: center;
        @include medium2;
        font-weight: 400;
        margin-bottom: 8px;
        img {
          margin-right: 8px;
        }
      }
      &:nth-child(3) {
        border-top: 1px solid $linecolor;
        border-bottom: 1px solid $linecolor;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        ul {
          display: flex;
          gap: 15px;
          img {
            width: 24px;
            height: 24px;
          }
        }
        span {
          display: none;
        }
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
    &__subscribe-description {
      text-align: center;
      font-size: 15px;
    }
    &__subscribe-form {
      justify-content: center;
      text-align: center;
      align-items: center;
      margin-bottom: 8px;
      display: flex;
      width: 100%;
      input {
        height: 48px;
        min-width: 40%;
        width: 70%;
        max-width: 400px;
        // padding : 12px 16px;
      }

      button {
        width: 90px;
        height: 48px;
        font-size: 14px;
      }
    }
    &__privacy-note {
      text-align: center;
      font-size: 13px;
    }
  }
}

@media (min-width: $xxxl) {
  .footer {
    max-width : 1920px;
    margin-left : auto;
    margin-right : auto;
    display: flex;
    gap: 50px;
    padding: 50px;
    border-top: 1px solid $linecolor;
    border-bottom: 1px solid $linecolor;
    &__logo {
      img {
        width: 150px;
      }
    }
    &__columns {
      justify-content: space-around;
    }
    &__column {
      h1 {
        font-size: 24px;
      }

      li {
        width: 100%;
        font-size: 22px;
        img {
          margin-right: 2%;
          height: 17%;
          width: 17%;
        }
      }
      &:nth-child(3) {
        width: 10%;
        a {
          display: flex;
          align-items: center;
        }
      }
      &:last-child {
        width: 30%;
      }
    }
    &__subscribe-description {
      font-size: 19;
      padding-bottom: 3.3%;
    }
    &__subscribe-form {
      margin-bottom: 3%;
      display: flex;
      input {
        height: 38px;
        padding-left: 20px;
        padding-top: 5px;
        min-width: 75%;
        border-left: 2px solid $inputborder;
        border-top: 2px solid $inputborder;
        border-bottom: 2px solid $inputborder;
        border-right: none;
        &::placeholder {
          font-size: 19px;
        }
      }

      button {
        width: 90px;
        height: 38px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 17px;
      }
    }
    &__privacy-note {
      font-size: 17px;
    }
  }
}
